// Specific CSS for your home-page
.search_console {
  background-color: #f6f6f6;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 3px 8px #484848;
  margin-top: 100px;
}

.form_console {
  background-color: #f6f6f6;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 3px 8px #484848;
  margin-top: 100px;
}

.form_no_margin {
  margin-top: 0px;
}
