// Specific CSS for your home-page

body {
  background-image: asset-url("background_BroCraft.jpg");
  color: #083358;
  margin-bottom: 80px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.typewrite_text {
  font-family: Skranji;
  font-size: 26px;
  white-space: nowrap;
  width: 500px;
  margin: auto;
  padding: 0;
}
