// Specific CSS for your home-page

body {
  background-image: url(background_BroCraft.jpg);
  color: #083358;
  margin-bottom: 80px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
