<div class="container form_console from_reserv" style="width: 1000px">
  <h1 class="text-center" style="padding-top: 10px">Mes réservations</h1>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#from-me" class="nav-link active" role="tab" data-toggle="tab">Outils que j'ai empruntés</a>
    </li>
    <li class="nav-item">
      <a href="#from-others" class="nav-link" role="tab" data-toggle="tab">Outils que j'ai prêtés</a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in show active" id="from-me">
      <div class="container">
        <%= render 'from_me' %>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="from-others">
      <div class="container">
        <%= render 'from_others' %>
      </div>
    </div>
  </div>

</div>










