<div class="container">
<div class="flex-container">
<h1 class="claim">Louez et empruntez <span class="changing"></span> près de chez vous</h1>
</div>

<div class="container form_console form_search_homepage" style="width: 500px">
    <h3 class="text-center p-3" style="margin-top: 8px">Chercher un outil</h3>
  <%= render 'searchform' %>
</div>

</div>
