<div class="container" style="width: 800px">
<div class="d-flex bd-highlight mb-3 align-items-center">
  <div class="p-2 bd-highlight claim">Louez et empruntez </div>
  <div class="p-2 bd-highlight claim changing"></div>
  <div class="ml-auto p-2 bd-highlight claim"> à des particuliers près de chez vous</div>
</div>

<div class="container form_console form_search_homepage" style="width: 800px">
  <br>

  <%= render 'searchform' %>
</div>

</div>
