.btn-blue {
  text-decoration: none;
  background-color: #083358;
  color: #f6f6f6;
  border: 1px solid rgba(8, 51, 88, 1);
  padding: 12px 32px;
  border-radius: 8px;
  transition: all .3s;
}

.btn-blue:hover {
  text-decoration: none;
  color: #f6f6f6;
  background-color: #0f4471;
}

.btn-red {
  text-decoration: none;
  background-color: #fc3c3c;
  color: #f6f6f6;
  border: 1px solid rgba(252, 60, 60, 1);
  padding: 12px 32px;
  border-radius: 8px;
  transition: all .3s;
}

.btn-red:hover {
  text-decoration: none;
  color: #f6f6f6;
  background-color: rgba(252, 60, 60, 0.6);
}

.btn-bc-light {
  text-decoration: none;
  background-color: #f6f6f6;
  color: #083358;
  border: 1px solid #f6f6f6;
  padding: 8px 24px;
  border-radius: 8px;
  transition: all .3s;
}

.btn-bc-light:hover {
  text-decoration: none;
  color: #fc3c3c;
  background-color: #f6f6f6;
  border: 1px solid #fc3c3c;
}

.btn-inscr {
  font-size: 16px;
  width: 150px;
  margin: 0 10px;
  text-align: center;
}

a {
  color: #083358;
}

a:hover {
  text-decoration: none;
  color: #fc3c3c
}
