.form_console {
  background-color: #f6f6f6;
  border-radius: 8px;
  border: none;
  box-shadow: 4px 4px 10px black;
}

.form_search_homepage {
  padding-bottom: 16px;
}

.form_forgot_password {
  margin-top: 40px;
  padding-bottom: 20px;
}

.form_add_tool {
  margin-top: 40px;
  margin-bottom: 20px;
}

.form_my_profile {
  margin-top: 40px;
  padding-bottom: 20px;
}

.little_search {
  margin-top: 40px;
  margin-bottom: 15px;
}

.from_reserv {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 40px
}

.form_new_password {
  margin-top: 40px;
}

.from_my_tools {
  padding-bottom: 2px;
  width: 300px;
}
