.form_console {
  background-color: #f6f6f6;
  border-radius: 8px;
  border: none;
  box-shadow: 4px 4px 10px black;
}

.form_search_homepage {
  padding-bottom: 20px;
}

.form_forgot_password {
  padding-bottom: 20px;
}

.form_add_tool {
  margin-bottom: 20px;
}

.form_my_profile {
  padding-bottom: 20px;
}
