.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin-top: -25px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.nav-item {
  display: flex;
  flex-direction: column;
}

.nav-connexion {
  display: flex;
}

.navbar {
  background-color: #083358;
  color: #f6f6f6;
  border-bottom: 2px solid #fc3c3c;
  padding-top: 0px;
  padding-bottom: 5px;
  position: fixed;
  width: 100%;
  z-index: 1070;
}

.accroche {
  text-align: center;
  font-size: 24px;
  margin-bottom: 1px;
  margin-top: 0px;
}

.brocraft_name {
  font-size: 48px;
  margin-bottom: -15px;
  color: #f6f6f6;
}


:root {
  --mainColor: #fc3c3c;
}

.brocraft_name {
  background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 80%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
  text-decoration: none;
  transition: background-size .4s;
}

.brocraft_name:hover {
  background-size: 4px 56px;
}
