.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin-top: -17px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.nav-item {
  display: flex;
  flex-direction: column;
}

.nav-connexion {
  display: flex;
}

.navbar {
  background-color: #083358;
  color: #f6f6f6;
  border-bottom: 2px solid #fc3c3c;
  padding-top: 0px;
  padding-bottom: 5px;
  position: fixed;
  width: 100%;
  z-index: 1070;
}

.accroche {
  text-align: center;
  font-size: 24px;
  margin-bottom: 1px;
  margin-top: 0px;
}

