.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin-top: -15px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.nav-item {
  display: flex;
  flex-direction: column;
}

.nav-connexion {
  display: flex;
}

.btn-primary {
  width: 150px;
  margin: 0 10px;
}
