table {
  border: none;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 16px;
  thead {
    border: 1px solid #0f4471;
    th {
      height: 3em;
    }
  }
  tr {

  }
  tr.reserv_card{
    height: 64px;
    border-bottom: 1px solid #E6E6E6;
    transition: .3s
  }
  tr.reserv_card:hover{
    background-color: #E6E6E6;
  }
}

.tool-name {
  width: 300px
}

.tool-from, .tool-to {
  width: 120px
}

.tool-status, .tool-owner {
  width: 120px
}

.tool-actions {
  width: 240px
}
