table {
  border: none;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 16px;
  thead {
    border: 1px solid #0f4471;
    th {
      height: 3em;
    }
  }
  tr {
    border: none;
  }
}

.tool-name {
  width: 300px
}

.tool-from, .tool-to {
  width: 120px
}

.tool-status, .tool-owner {
  width: 120px
}

.tool-actions {
  width: 240px
}
