.tool_card {
  overflow: hidden;
  height: 120px;
  background: #f6f6f6;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid;
  transition: transform .2s;
}

.tool_card:hover {
  border: 1px solid rgba(252, 60, 60, 1);
  transform: scale(1.02);
   h1 {
    color:#fc3c3c;
  }
}

.tool_card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.tool_card h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  transition: all .3s;
}

.tool_card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #fc3c3c;
}

.tool_card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.tool_card .tool_card_infos {
  padding: 8px;
}

.tool_card .tool_card_action {
  padding: 16px;
  display: flex;
  flex-direction: column;
}
